<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.openthread.toble">

  <application>
    <service android:name=".TobleService"
        android:permission="android.permission.BIND_VPN_SERVICE">
      <intent-filter>
        <action android:name="io.openthread.toble.TobleService"/>
      </intent-filter>
    </service>
  </application>
</manifest>